@page
@model PCBuilder.Web.Pages.GraphicsCards.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>All graphics cards</h2>
<table class="table table-striped" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.GraphicsCard[0].Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.GraphicsCard[0].ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.GraphicsCard[0].Architecture)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.GraphicsCard[0].Socket)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.GraphicsCard[0].Pipelines)
            </th>
            <th>
                @(Html.DisplayNameFor(model => Model.GraphicsCard[0].CoreSpeed))(MHz)
            </th>
            <th>
                @(Html.DisplayNameFor(model => Model.GraphicsCard[0].MemorySpeed))(MHz)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.GraphicsCard[0].MemoryType)
            </th>
            <th>
                @(Html.DisplayNameFor(model => Model.GraphicsCard[0].MemoryAmount))(GB)
            </th>
            <th>
                @(Html.DisplayNameFor(model => Model.GraphicsCard[0].MaxPower))(W)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.GraphicsCard[0].DirectX)
            </th>
            <th>
                @(Html.DisplayNameFor(model => Model.GraphicsCard[0].Price))($)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GraphicsCard)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Architecture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Socket)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pipelines)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CoreSpeed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemorySpeed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemoryType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemoryAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxPower)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DirectX)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <div style=@(this.User.IsInRole(WebConstants.AdminRole) ? "width:200px;" : "")>
                        @if (this.User.IsInRole(WebConstants.AdminRole))
                        {
                            <a asp-page="./Edit" asp-route-id="@item.Id" asp-area="Admin" class="btn btn-warning">Edit</a>
                        }
                        <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                        @if (this.User.IsInRole(WebConstants.AdminRole))
                        {
                            <a asp-page="./Delete" asp-route-id="@item.Id" asp-area="Admin" class="btn btn-danger">Delete</a>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
